.flex-container{
	display: flex;
	overflow:hidden;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	width: 100%;
	border: dotted pink;
}

header {
	z-index: 1;
	display: none;
	position: absolute;
	width:100%;
	height:800px;
	background-color:rgba(0, 0, 255, 0.5);
	text-align: center;
	border: dotted pink;
}

.cardContainer {
	background-color: green;
	width: 25%;
	max-height:100%;
	overflow: scroll;
}

.result {
	border: solid black 2px;
	background: lightgrey;
	z-index: 1;
}

#map {
	width:100%;
	height:800px;
}

.searchContainer {

	background-color: pink;
	width: 25%;
	height:800px;
	overflow: scroll;
}

.card {
	border: 2px solid black;
}

.notes {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 50px;
}

.selected {
	background-color: brown;
}
