
body {
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50vh;
  top: 0;
}

.intro-page {
  display: none;
  z-index: 2;
  position: absolute;
  color: white;
  width:100%;
  height:100vh;
  background-color:rgba(0, 0, 255, .9);
  text-align: center;
}

.card-container {
  box-sizing:border-box;
  border: 2px;
  z-index: 1;
  background-color: rgba(161,179,206,0.9);
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50vh;
  top:50%;
  overflow-y: scroll;
}

#create{
  position: fixed;
  left: 23.8%;
  height: 25px;
  width: 50%;
  margin: 5px;
}

.card {
  box-sizing:border-box;
  border: 2px solid black;
  margin-top: 20px;
}

.delete {
  display: block;
  margin: 0 auto;
}

.selected {
  border: 5px grey inset;
  background-color: rgba(107, 195, 239, 0.8);
}

.notes {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50px;
}

#showFull {
  position: fixed;
  left: 23.8%;
  height: 25px;
  width: 50%;
  margin: 5px;
  margin-top: 15px;
}

#title {
  margin-top: 25px;
}

.styled-itinerary {
    display: none;
    position: absolute;
    background-color: rgb(232, 227, 239);
    box-sizing: border-box;
    z-index: 3;
    text-align: center;
    height: 100%;
    width: 100%;
}
.itin-title {
  border: 10px double rgb(58, 56, 61);
  margin: 0;
}
.events {
  margin: 0;
  border-left: 10px double rgb(58, 56, 61);
  border-right: 10px double rgb(58, 56, 61);
}

.footer {
  border-bottom: 10px double rgb(58, 56, 61);
  border-right: 10px double rgb(58, 56, 61);
  border-left: 10px double rgb(58, 56, 61);
}
.event {
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 50%;
}

.search-container {
  display: none;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  border: 5px black;
  background-color: rgba(161,179,206,0.5);
  width: 100%;
  height: 50vh;
  top: 50%;
  overflow-y: scroll;
}

.result {
  box-sizing: border-box;
  border: solid black 2px;
  height: 100%;
  background-color: rgba(161,179,206,0.8);
  line-height: 30px;

}

.addEvent:hover, .showDetails:hover {
  cursor: pointer;
}

.showCC {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.location-search {
  z-index: 0;
  border: solid black 1px;
  background-color:rgba(161,179,206,0.8);
  display: block;
  position: absolute;
  left: 37%;
  top: 5%;
}
.initial-location-search {
  border: solid black 1px;
  background-color:rgba(161,179,206,0.8);
  display: block;
}

.js-search {
  text-align: center;
}

@media (min-width: 960px){

  main {
      box-sizing: border-box;
      margin:0;
      padding: 0;
  		width: 100%;
  }

  .intro-page {
  	position: absolute;
    color: white;
  	width: 100%;
  	height: 100vh;
  	background-color: rgba(0, 0, 255, .9);
  	text-align: center;
  }

    /* section for card */
  .card-container {
    display: block;
    left: 0;
  	color: white;
  	width: 25%;
  	height: 50vh;
    top: 0;
  	overflow-y: scroll;
  }

  #showFull {
    position: fixed;
    width: 100%;
    hei
    left: 8%;
  }

  #create {
    left: 8.5%;
  }

  .showCC {
    display: none;
  }

  .notes {
  	display: block;
  	margin: 0 auto;
  	width: 90%;
  	height: 50px;
  }



  #hideStyled {
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: 0;
  }

  /* section for map */
  .location-search {
    z-index: 1;
    display: block;
    position: absolute;
    left: 43%;
    top: 5%;
  }

  #map {
    width: 75%;
    height: 100vh;
    right: 0;
  }

  /* section for search sidebar */

  .search-container {
    display: none;
    border: solid black;
    left:0;
  	width: 25%;
  	height:50vh;
  }

}
